[[source]]
name = "azure"
url = "https://${AZURE_FEED_NAME}:${AZURE_FEED_TOKEN}@pkgs.dev.azure.com/snapmetrix/_packaging/airflow-feed/pypi/simple/"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
"apache-airflow" = {extras = ["crypto", "celery", "postgres", "jdbc", "mssql", "redis", "ssh", "s3","password"], version = "<=1.10.3"}

[packages]
"airflow-sync" = {editable = true, path = ".", extras = ["dev", "tests", "docs"]}

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
